.nipple
    --edgeRadius 120px
    --thumbRadius 50px

    display none
    position absolute
    top 600px
    left 600px
    pointer-events none

    &.is-visible
        display block

    &.is-thick
        .edge
            border 2px solid #ffffff
            box-shadow 0px 0px 10px #ff3a71
        .forward
            top -2px
            left -2px

    .edge
        width calc(var(--edgeRadius) * 2)
        height calc(var(--edgeRadius) * 2)
        position absolute
        top calc(var(--edgeRadius) * -1)
        left calc(var(--edgeRadius) * -1)
        border-radius var(--edgeRadius)
        border 1px solid #ffffff88

    .thumb
        width calc(var(--thumbRadius) * 2)
        height calc(var(--thumbRadius) * 2)
        position absolute
        top calc(var(--thumbRadius) * -1)
        left calc(var(--thumbRadius) * -1)
        border-radius var(--thumbRadius)
        border 1px solid #ffffff
        background radial-gradient(#ffffff00, #ffffff44)

    .forward
        position absolute
        top -1px
        left -1px
        width calc(var(--edgeRadius) * 2)
        height calc(var(--edgeRadius) * 2)

    .stroke
        position absolute
        top 50%
        left 50%
        width calc(var(--edgeRadius) * 1.35)
        height 1px
        background linear-gradient(90deg, #ffffff99, #ffffff00)
        transform-origin 0% 50%